# Save this as .env

# Dirs need trailing slash.

ASSET_PACK_DIR=D:/UHC/Asset Pack V2/
# see litepack.sh
ASSET_DIR_LITE=D:/UHC/AssetPackV2Lite/
ASSET_PACK_HREF=https://filedn.com/lANSiYhDVpD4ou6Gt17Ij9m/AssetPackV2Lite/


# https://sentry.io/settings/auth-tokens/
